<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enerren.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
				<key>dateExpires</key>
				<string>06/06/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MTBBarcodeScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Mantle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImageWebPCoder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>barcode_scan.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>battery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>camera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_full_pdf_viewer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_image_compress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_native_html_view.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>geolocator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libPhoneNumber_iOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libphonenumber.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>native_contact_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B791933FB22C0BF1F0EA413A0CB7F40BB712E8DF</string>
						<key>dateExpires</key>
						<string>06/06/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AH8VK6FUYR</string>
						<key>name</key>
						<string>ENERREN TECHNOLOGIES, PT</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>AH8VK6FUYR.com.enerren.angkut.customer</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>AH8VK6FUYR</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.enerren.angkut.customer</string>
					<string>group.com.enerren.angkut.customer.onesignal</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5cf5d52a-c78a-4552-be10-1fd62092f15b</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.enerren.angkut.customer</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>AH8VK6FUYR</string>
				<key>name</key>
				<string>ENERREN TECHNOLOGIES, PT</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
