<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27263991303-thk948l0ac4ri30tpq4lshfu2ag0o49f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27263991303-thk948l0ac4ri30tpq4lshfu2ag0o49f</string>
	<key>API_KEY</key>
	<string>AIzaSyBmJRL_8R49vULhET_-HO-lBAfexYL2f4w</string>
	<key>GCM_SENDER_ID</key>
	<string>27263991303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enerren.angkut.customer</string>
	<key>PROJECT_ID</key>
	<string>angkut-customer-4c94b</string>
	<key>STORAGE_BUCKET</key>
	<string>angkut-customer-4c94b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27263991303:ios:8da0e8a1ae079cb80034a2</string>
</dict>
</plist>